
@{
    ViewBag.Title = "SiparisDetayi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mb-4"></div>
<div class="container">
    <div class="row">
        <div class="col-xl-8 mx-auto">
            <div class="row steps arrow-divider mt-4">
                <div class="col active">
                    <div class="text-center text-success">
                        <i class="la-2x mb-2 las la-shopping-cart"></i>
                        <h3 class="fs-13 fw-600 d-none d-lg-block">1. Sepetim</h3>
                    </div>
                </div>
                <div class="col active">
                    <div class="text-center text-success">
                        <i class="la-2x  mb-2  las la-map"></i>
                        <h3 class="fs-13 fw-600 d-none d-lg-block ">2. Kargo bilgileri</h3>
                    </div>
                </div>
                <div class="col active">
                    <div class="text-center text-orange">
                        <i class="la-2x  mb-2 las la-truck"></i>
                        <h3 class="fs-13 fw-600 d-none d-lg-block">Satın Alınan Ürünler</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="text-center">
                        <i class="la-2x  mb-2 opacity-50 las la-credit-card"></i>
                        <h3 class="fs-13 fw-600 d-none d-lg-block opacity-50 text-capitalize">4. Ödeme</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="text-center">
                        <i class="la-2x  mb-2 opacity-50 las la-check-circle"></i>
                        <h3 class="fs-13 fw-600 d-none d-lg-block opacity-50 text-capitalize">5. Onay</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="py-4 gry-bg">
    <div class="container">
        <div class="row cols-xs-space cols-sm-space cols-md-space">
            <div class="col-xxl-8 col-xl-10 mx-auto text-left">
                <form action="#">
                    <input type="hidden" name="_token" value="Jxu6Pf1lqtfUapKZjhFWDGKaJEm2EPrzvWJAuY56">
                    <div class="card mb-3 shadow-sm border-0 rounded mb-0">
                        <div class="card-header p-3">
                            <h5 class="fs-16 fw-600 mb-0">Alınan Ürünler</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="d-flex">
                                        <span class="mr-2">
                                            <img src="https://www.esosyete.com/public/uploads/products/thumbnail/s2xYquqRzbmskssQnJMkZoiZKBTI2IIJag4ZPHJG.jpeg" class="cart-img">
                                        </span>
                                        <span class="fs-14 opacity-60">Minie Mause  Kapuşonlu Takım</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex">
                                        <span class="mr-2">
                                            <img src="https://www.esosyete.com/public/uploads/products/thumbnail/s2xYquqRzbmskssQnJMkZoiZKBTI2IIJag4ZPHJG.jpeg" class="cart-img">
                                        </span>
                                        <span class="fs-14 opacity-60">Minie Mause  Kapuşonlu Takım</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex">
                                        <span class="mr-2">
                                            <img src="https://www.esosyete.com/public/uploads/products/thumbnail/s2xYquqRzbmskssQnJMkZoiZKBTI2IIJag4ZPHJG.jpeg" class="cart-img">
                                        </span>
                                        <span class="fs-14 opacity-60">Minie Mause  Kapuşonlu Takım</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex">
                                        <span class="mr-2">
                                            <img src="https://www.esosyete.com/public/uploads/products/thumbnail/s2xYquqRzbmskssQnJMkZoiZKBTI2IIJag4ZPHJG.jpeg" class="cart-img">
                                        </span>
                                        <span class="fs-14 opacity-60">Minie Mause  Kapuşonlu Takım</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex">
                                        <span class="mr-2">
                                            <img src="https://www.esosyete.com/public/uploads/products/thumbnail/s2xYquqRzbmskssQnJMkZoiZKBTI2IIJag4ZPHJG.jpeg" class="cart-img">
                                        </span>
                                        <span class="fs-14 opacity-60">Minie Mause  Kapuşonlu Takım</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex">
                                        <span class="mr-2">
                                            <img src="https://www.esosyete.com/public/uploads/products/thumbnail/s2xYquqRzbmskssQnJMkZoiZKBTI2IIJag4ZPHJG.jpeg" class="cart-img">
                                        </span>
                                        <span class="fs-14 opacity-60">Minie Mause  Kapuşonlu Takım</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer mt-0 p-5 d-flex bg-white justify-content-end">
                        <button type="submit" name="owner_id" class="btn fw-600 btn-orange">Ödeme sayfasına devam et</button>
                    </div>
                </form>
                <div class="pt-4">
                    <a href="#" class="orange-link">
                        <i class="la la-angle-left"></i>
                        Alışverişe devam et
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
