@{
    ViewBag.Title = "vidolar";
    Layout = null;
}
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<script src="/js/bootstrap-filestyle.min.js"></script>
@if (!string.IsNullOrEmpty(ViewBag.ok) && ViewBag.ok != "yok")
{
<div class="col-xs-12 text-center" style="margin-top:40px">
    <a href="@ViewBag.ok" class="btn btn-success btn-lg">Dosyaları İndir</a>
</div>
}
else
{
    <div class="col-xs-12 hidden bkl" style="text-align:center">
        <div style="width:100%;font-size:13px;color:red">*Lütfen Bekleyiniz! İşleminiz video sayısına göre ve her videonun uzunluğu kadar sürmektedir.</div>
        <img src="/spinner-gif-16.gif" style="width:110px" />
    </div>
   
    <script>
        $(document).ready(function () {
            $("#imgInp").filestyle({ buttonName: "btn-primary" });
        })
    </script>

    <form role="form" id="frm" action="/admin/uruns/vidolar" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input type="file" name="files" class="filestyle" data-buttonText="Video Seç" data-buttonName="btn-primary" multiple="" accept="video/*" />
        <input type="submit" class="btn btn-success btn-sm" id="smt" name="submit" onclick="$('.bkl').removeClass('hidden');$('#frm,.dfd').addClass('hidden');" value="Dosyaları Gönder" style="margin-top:10px;float:right" />
    </form>
    <div style="color:red;width:100%;float:left;padding-top: 9px;" class="dfd">*işlem bitince <strong style="text-decoration:underline">Kapat</strong> butonuna basmayı unutmayınız</div>
}