@{
    ViewBag.Title = "Şifre Hatırlatma";
}







<div class="container" data-bxyield="content" data-bxarea="area_212">
    <div data-bxarea="content__area_645">
        <div class="panel panel-default ucus-bilgileri" data-bxarea="content__area_647">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-info-circle fa-fw"></i> Şifremi Unuttum</h3>
            </div>



            <section class="panel" style="border:none;box-shadow:none;margin:0;">
                <div class="panel-body" style="padding:10px">




                  
                    <div class="col-xs-12">

                        Lütfen şifre hatırlatma için belirlediğiniz mail adresinizin <strong>gelen kutusu veya spam klasörüne</strong> bakınız.Gelen mail deki işlemleri yaparak yeni şifrenizi oluşturabilirsiniz.

                        <p class="text-center" style="margin-top:15px">
                            <a href="/" class="btn btn-primary">Anasayfaya git</a>
                        </p>



                    </div>
                </div>
            </section>




        </div>
    </div>
</div>














