
@{
    ViewBag.Title = "Magaza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid bg-white">
    <div class="p-5">
        <div class="d-flex justify-content-center">
            <img height="70" src=" https://www.esosyete.com/public/uploads/all/2ETXOr0gT3INWTPfjYzuuZRZlYqXUi1nQMp7mKPW.jpg " data-src=" https://www.esosyete.com/public/uploads/all/2ETXOr0gT3INWTPfjYzuuZRZlYqXUi1nQMp7mKPW.jpg " alt="Kayseri Bakırcılık">
            <div class="pl-4 text-left">
                <h1 class="fw-600 h4 mb-0">
                    Kayseri Bakırcılık
                    <span class="ml-2"><i class="fa fa-check-circle" style="color:green"></i></span>
                </h1>
                <div class="rating rating-sm mb-1">
                    <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                </div>
                <div class="location opacity-60">Köşk Sosyete Pazarı 1.kat C-53 Köşk mahallesi</div>
            </div>
        </div>
    </div>
    <div class="border-bottom mt-5"></div>
    <div class="container">
        <div class="d-flex justify-content-lg-start justify-content-md-center">
            <ul class="list-inline mb-0 text-center text-lg-left ">
                <li class="list-inline-item default">
                    <a class="text-reset d-inline-block fw-600 fs-15 p-3 border-bottom border-orange border-width-2 " href="#">Mağaza Anasayfa</a>
                </li>
                <li class="list-inline-item default">
                    <a class="text-reset d-inline-block fw-600 fs-15 p-3  " href="#">En çok satan</a>
                </li>
                <li class="list-inline-item default">
                    <a class="text-reset d-inline-block fw-600 fs-15 p-3 " href="#">Tüm ürünler</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <img class="store-image" src="https://www.esosyete.com/public/uploads/all/dDrNEcVxh7qdoC2fEo6Vi95NCOnEKOpBNPgJ1WhX.jpg" alt="" />
        </div>
    </div>
</div>

<div class="container">
    <div class="shadow-container radius mt-4 px-2 py-4 px-md-4 py-md-3 mb-5">
        <div class="d-flex justify-content-center">
            <h3 class="fw-700 pl-4 title-size border-bottom"><span class="border-bottom border-orange border-width-2 pb-3 d-inline-block">Öne Çıkan Ürünler</span></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 product-col">
            <div class="card">
                <div class="card-body">
                    <img class="product-img" src="https://www.esosyete.com/public/uploads/all/SmItCIu98XRF9mRwB08MXvBBXcttTgQsMQ2ODhAK.jpg">
                </div>
                <div class="card-footer product pb-3">
                    <div class="col">
                        <span class="product-span orange">95.00 </span>
                    </div>
                    <div class="col">
                        <div class="rating">
                            <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                        </div>
                    </div>
                    <div class="col product-desc">
                        <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 product-col">
            <div class="card">
                <div class="card-body">
                    <img class="product-img" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
                </div>
                <div class="card-footer product pb-3">
                    <div class="col">
                        <span class="product-span orange">95.00 </span>
                    </div>
                    <div class="col">
                        <div class="rating">
                            <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                        </div>
                    </div>
                    <div class="col product-desc">
                        <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 product-col">
            <div class="card">
                <div class="card-body">
                    <img class="product-img" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
                </div>
                <div class="card-footer product pb-3">
                    <div class="col">
                        <span class="product-span orange">95.00 </span>
                    </div>
                    <div class="col">
                        <div class="rating">
                            <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                        </div>
                    </div>
                    <div class="col product-desc">
                        <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 product-col">
            <div class="card">
                <div class="card-body">
                    <img class="product-img" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
                </div>
                <div class="card-footer product pb-3">
                    <div class="col">
                        <span class="product-span orange">95.00 </span>
                    </div>
                    <div class="col">
                        <div class="rating">
                            <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                        </div>
                    </div>
                    <div class="col product-desc">
                        <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 product-col">
            <div class="card">
                <div class="card-body">
                    <img class="product-img" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
                </div>
                <div class="card-footer product pb-3">
                    <div class="col">
                        <span class="product-span orange">95.00 </span>
                    </div>
                    <div class="col">
                        <div class="rating">
                            <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                        </div>
                    </div>
                    <div class="col product-desc">
                        <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 product-col">
            <div class="card">
                <div class="card-body">
                    <img class="product-img" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
                </div>
                <div class="card-footer product pb-3">
                    <div class="col">
                        <span class="product-span orange">95.00 </span>
                    </div>
                    <div class="col">
                        <div class="rating">
                            <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                        </div>
                    </div>
                    <div class="col product-desc">
                        <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 product-col">
            <div class="card">
                <div class="card-body">
                    <img class="product-img" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
                </div>
                <div class="card-footer product pb-3">
                    <div class="col">
                        <span class="product-span orange">95.00 </span>
                    </div>
                    <div class="col">
                        <div class="rating">
                            <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                        </div>
                    </div>
                    <div class="col product-desc">
                        <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 product-col">
            <div class="card">
                <div class="card-body">
                    <img class="product-img" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
                </div>
                <div class="card-footer product pb-3">
                    <div class="col">
                        <span class="product-span orange">95.00 </span>
                    </div>
                    <div class="col">
                        <div class="rating">
                            <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                        </div>
                    </div>
                    <div class="col product-desc">
                        <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 product-col">
            <div class="card">
                <div class="card-body">
                    <img class="product-img" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
                </div>
                <div class="card-footer product pb-3">
                    <div class="col">
                        <span class="product-span orange">95.00 </span>
                    </div>
                    <div class="col">
                        <div class="rating">
                            <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                        </div>
                    </div>
                    <div class="col product-desc">
                        <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="container">
    <div class="row shadow-container radius  mt-4 px-2 py-4 px-md-4 py-md-3 mb-5">
        <h3 class="fw-700 pl-4 title-size"><span class="border-bottom border-orange border-width-2 pb-3 d-inline-block">Son Eklenen Ürünler</span></h3>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 product-col">
        <div class="card">
            <div class="card-body">
                <img class="product-img" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
            </div>
            <div class="card-footer product pb-3">
                <div class="col">
                    <span class="product-span orange">95.00 </span>
                </div>
                <div class="col">
                    <div class="rating">
                        <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                </div>
                <div class="col product-desc">
                    <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 product-col">
        <div class="card">
            <div class="card-body">
                <img class="product-img" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
            </div>
            <div class="card-footer product pb-3">
                <div class="col">
                    <span class="product-span orange">95.00 </span>
                </div>
                <div class="col">
                    <div class="rating">
                        <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                </div>
                <div class="col product-desc">
                    <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 product-col">
        <div class="card">
            <div class="card-body">
                <img class="product-img" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
            </div>
            <div class="card-footer product pb-3">
                <div class="col">
                    <span class="product-span orange">95.00 </span>
                </div>
                <div class="col">
                    <div class="rating">
                        <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                </div>
                <div class="col product-desc">
                    <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 product-col">
        <div class="card">
            <div class="card-body">
                <img class="product-img" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
            </div>
            <div class="card-footer product pb-3">
                <div class="col">
                    <span class="product-span orange">95.00 </span>
                </div>
                <div class="col">
                    <div class="rating">
                        <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                </div>
                <div class="col product-desc">
                    <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 product-col">
        <div class="card">
            <div class="card-body">
                <img class="product-img" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
            </div>
            <div class="card-footer product pb-3">
                <div class="col">
                    <span class="product-span orange">95.00 </span>
                </div>
                <div class="col">
                    <div class="rating">
                        <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                </div>
                <div class="col product-desc">
                    <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 product-col">
        <div class="card">
            <div class="card-body">
                <img class="product-img" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
            </div>
            <div class="card-footer product pb-3">
                <div class="col">
                    <span class="product-span orange">95.00 </span>
                </div>
                <div class="col">
                    <div class="rating">
                        <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                </div>
                <div class="col product-desc">
                    <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 product-col">
        <div class="card">
            <div class="card-body">
                <img class="product-img" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
            </div>
            <div class="card-footer product pb-3">
                <div class="col">
                    <span class="product-span orange">95.00 </span>
                </div>
                <div class="col">
                    <div class="rating">
                        <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                </div>
                <div class="col product-desc">
                    <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 product-col">
        <div class="card">
            <div class="card-body">
                <img class="product-img" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
            </div>
            <div class="card-footer product pb-3">
                <div class="col">
                    <span class="product-span orange">95.00 </span>
                </div>
                <div class="col">
                    <div class="rating">
                        <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                </div>
                <div class="col product-desc">
                    <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 product-col">
        <div class="card">
            <div class="card-body">
                <img class="product-img" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
            </div>
            <div class="card-footer product pb-3">
                <div class="col">
                    <span class="product-span orange">95.00 </span>
                </div>
                <div class="col">
                    <div class="rating">
                        <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                </div>
                <div class="col product-desc">
                    <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 product-col">
        <div class="card">
            <div class="card-body">
                <img class="product-img" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
            </div>
            <div class="card-footer product pb-3">
                <div class="col">
                    <span class="product-span orange">95.00 </span>
                </div>
                <div class="col">
                    <div class="rating">
                        <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                    </div>
                </div>
                <div class="col product-desc">
                    <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                </div>
            </div>
        </div>
    </div>
</div>

