
@{
    ViewBag.Title = "UrunDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-5"></div>
<div class="container">
    <div class="row">
        <div class="bg-white shadow-container p-2">
            <div class="col-lg-6 ">
                <div class="row">
                    <div class="col-1 thumbnail-area d-flex justify-content-center">
                        <div>
                            <div class="thumbnail">
                                <img src="https://esosyete.com/public/uploads/all/OPxTKUQogWDlUbGEMZSTbo58z2jpbXsV2bvvwd21.jpg" alt="" class="thm-img">
                            </div>
                            <div class="thumbnail">
                                <img src="https://esosyete.com/public/uploads/all/OPxTKUQogWDlUbGEMZSTbo58z2jpbXsV2bvvwd21.jpg" alt="" class="thm-img">
                            </div>
                            <div class="thumbnail">
                                <img src="https://esosyete.com/public/uploads/all/OPxTKUQogWDlUbGEMZSTbo58z2jpbXsV2bvvwd21.jpg" alt="" class="thm-img">
                            </div>
                            <div class="thumbnail">
                                <img src="https://esosyete.com/public/uploads/all/OPxTKUQogWDlUbGEMZSTbo58z2jpbXsV2bvvwd21.jpg" alt="" class="thm-img">
                            </div>
                            <div class="thumbnail">
                                <img src="https://esosyete.com/public/uploads/all/OPxTKUQogWDlUbGEMZSTbo58z2jpbXsV2bvvwd21.jpg" alt="" class="thm-img">
                            </div>
                            <div class="thumbnail">
                                <img src="https://esosyete.com/public/uploads/all/OPxTKUQogWDlUbGEMZSTbo58z2jpbXsV2bvvwd21.jpg" alt="" class="thm-img">
                            </div>
                        </div>
                    </div>
                    <div class="col-10 product-scene">
                        <img src="https://esosyete.com/public/uploads/all/OPxTKUQogWDlUbGEMZSTbo58z2jpbXsV2bvvwd21.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col">
                        <h3 class="fw-600 fs-20">Tony Montana Polo Yaka T-shirt</h3>
                        <div class="rating">
                            <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i> <span class="text-muted">(0 Yorumlar)</span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12"><small class="opacity-50">Satıcı</small></div>
                    <div class="col-12"><a href="#" class="text-muted">Giyim Mağazası</a></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="opacity-50 my-2">Fiyat:</div>
                    </div>
                    <div class="col-sm-9">
                        <div class="fs-20 opacity-60">
                            <del>
                                110.00₺
                                <span>/adet</span>
                            </del>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="opacity-50">İndirimli fiyat:</div>
                    </div>
                    <div class="col-sm-9">
                        <div class="">
                            <strong class="h2 fw-600 text-orange">
                                70.00₺
                            </strong>
                            <span class="opacity-70">/adet</span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="opacity-50 my-2">Beden:</div>
                    </div>
                    <div class="col-sm-10">
                        <div class="radio-inline">
                            <label class="megabox pl-0 mr-2">
                                <input type="radio" name="size" value="M" checked="">
                                <span class="megabox-elem rounded d-flex align-items-center justify-content-center py-2 px-3 mb-2">
                                    M
                                </span>
                            </label>
                            <label class="megabox pl-0 mr-2">
                                <input type="radio" name="size" value="L">
                                <span class="megabox-elem rounded d-flex align-items-center justify-content-center py-2 px-3 mb-2">
                                    L
                                </span>
                            </label>
                            <label class="megabox pl-0 mr-2">
                                <input type="radio" name="size" value="XL">
                                <span class="megabox-elem rounded d-flex align-items-center justify-content-center py-2 px-3 mb-2">
                                    XL
                                </span>
                            </label>
                            <label class="megabox pl-0 mr-2">
                                <input type="radio" name="size" value="XXL">
                                <span class="megabox-elem rounded d-flex align-items-center justify-content-center py-2 px-3 mb-2">
                                    XXL
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="opacity-50 my-2">Miktar:</div>
                    </div>
                    <div class="col-sm-10">
                        <div class="d-flex align-items-center">
                            <div class="row no-gutters align-items-center  mr-3">
                                <button class="btn btn-circle btn-minus"><i class="las la-minus"></i></button>
                            </div>
                            <div class="row no-gutters align-items-center ml-3 mr-3">
                                <input type="number" class="input-circle product-count" value="5" max="15" readonly>
                            </div>
                            <div class="row no-gutters align-items-center  mr-3">
                                <button class="btn btn-circle btn-plus"><i class="las la-plus"></i></button>
                            </div>
                            <div class="avialable-amount opacity-60">(<span>1</span> Mevcut)</div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-2">
                        <div class="opacity-50 my-2">Toplam Fiyat:</div>
                    </div>
                    <div class="col-sm-10">
                        <div class="product-price">
                            <strong class="h2 fw-600 text-orange">450.00₺</strong>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="d-table-cell">
                            <button type="button" class="btn btn-soft">
                                Favorilerime Ekle
                            </button>
                            <button type="button" class="btn btn-orange">
                                Karşılaştırma Listeme Ekle
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="opacity-50 my-2">Geri Ödeme:</div>
                    </div>
                    <div class="col-sm-10">
                        <a href="#" class="ml-2 orange-link" target="_blank">İade Sürecini Gör</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="opacity-50 my-2">Paylaş:</div>
                    </div>
                    <div class="col-sm-10">
                        <div id="share"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mb-4"></div>
<div class="container">
    <div class="row m-0">
        <div class="col-lg-3 col-sm-12 col-xs-12 mb-4 p-0">
            <div class="bg-white shadow-container">
                <div class="position-relative pt-3 pl-2">
                    <small class="text-reset">Sırala</small>
                    <hr>
                    <a href="#" class="text-reset d-block fw-600">
                        Ada Iç Giyim
                    </a>
                    <span class="text-reset">Köşk sosyete</span>
                    <div class="absolute-top-right">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" viewBox="0 0 287.5 442.2" width="22" height="34">
                        <polygon style="fill:#F8B517;" points="223.4,442.2 143.8,376.7 64.1,442.2 64.1,215.3 223.4,215.3 "></polygon>
                        <circle style="fill:#FBD303;" cx="143.8" cy="143.8" r="143.8"></circle>
                        <circle style="fill:#F8B517;" cx="143.8" cy="143.8" r="93.6"></circle>
                        <polygon style="fill:#FCFCFD;" points="143.8,55.9 163.4,116.6 227.5,116.6 175.6,154.3 195.6,215.3 143.8,177.7 91.9,215.3 111.9,154.3
                                        60,116.6 124.1,116.6 "></polygon>
                                    </svg>
                    </div>
                    <div class="text-center border rounded p-2 mt-3">
                        <div class="rating">
                            <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                        </div>
                        <div class="opacity-60 fs-12">(0 Değerlendirmeler)</div>
                    </div>
                    <div class="row">
                        <div class="col-6 p-0 pl-3 pt-2">
                            <a href="#" class="btn btn-soft w-100 h-100 d-flex justify-content-center align-items-center">Mağazayı Ziyaret Et</a>
                        </div>
                        <div class="col-6">
                            <ul class="list-inline pt-3 text-center mb-0">
                                <li class="list-inline-item social mr-0">
                                    <a href="" class="facebook" target="_blank">
                                        <i class="lab la-facebook-f opacity-60 social-text"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item social mr-0">
                                    <a href="" class="google" target="_blank">
                                        <i class="lab la-google opacity-60 social-text"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item social mr-0">
                                    <a href="" class="twitter" target="_blank">
                                        <i class="lab la-twitter opacity-60 social-text"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item social">
                                    <a href="" class="youtube" target="_blank">
                                        <i class="lab la-youtube opacity-60 social-text"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white shadow-container mt-4">
                <div class="p-2">
                    <h3 class="fw-600 fs-16">En Çok Satan Ürünler</h3>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-5">
                            <img src="https://esosyete.com/public/uploads/all/kcowmp2l5sLxSJcnR04aSW491VcEolFHjcoouD6w.jpg" class="w-100">
                        </div>
                        <div class="col-7 text-left">
                            <h4 class="fs-13 text-muted">
                                <a href="https://esosyete.com/product/Penye-Yarm-Atlet-ip-ask-2aNMs" class="d-block text-reset">Penye Yarım Atlet ip askı</a>
                            </h4>
                            <div class="rating mt-1">
                                <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                            </div>
                            <div class="mt-2">
                                <span class="fs-17 fw-600 text-orange">45.00₺</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5">
                            <img src="https://esosyete.com/public/uploads/all/kcowmp2l5sLxSJcnR04aSW491VcEolFHjcoouD6w.jpg" class="w-100">
                        </div>
                        <div class="col-7 text-left">
                            <h4 class="fs-13 text-muted">
                                <a href="https://esosyete.com/product/Penye-Yarm-Atlet-ip-ask-2aNMs" class="d-block text-reset">Penye Yarım Atlet ip askı</a>
                            </h4>
                            <div class="rating mt-1">
                                <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                            </div>
                            <div class="mt-2">
                                <span class="fs-17 fw-600 text-orange">45.00₺</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5">
                            <img src="https://esosyete.com/public/uploads/all/kcowmp2l5sLxSJcnR04aSW491VcEolFHjcoouD6w.jpg" class="w-100">
                        </div>
                        <div class="col-7 text-left">
                            <h4 class="fs-13 text-muted">
                                <a href="https://esosyete.com/product/Penye-Yarm-Atlet-ip-ask-2aNMs" class="d-block text-reset">Penye Yarım Atlet ip askı</a>
                            </h4>
                            <div class="rating mt-1">
                                <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                            </div>
                            <div class="mt-2">
                                <span class="fs-17 fw-600 text-orange">45.00₺</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5">
                            <img src="https://esosyete.com/public/uploads/all/kcowmp2l5sLxSJcnR04aSW491VcEolFHjcoouD6w.jpg" class="w-100">
                        </div>
                        <div class="col-7 text-left">
                            <h4 class="fs-13 text-muted">
                                <a href="https://esosyete.com/product/Penye-Yarm-Atlet-ip-ask-2aNMs" class="d-block text-reset">Penye Yarım Atlet ip askı</a>
                            </h4>
                            <div class="rating mt-1">
                                <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                            </div>
                            <div class="mt-2">
                                <span class="fs-17 fw-600 text-orange">45.00₺</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5">
                            <img src="https://esosyete.com/public/uploads/all/kcowmp2l5sLxSJcnR04aSW491VcEolFHjcoouD6w.jpg" class="w-100">
                        </div>
                        <div class="col-7 text-left">
                            <h4 class="fs-13 text-muted">
                                <a href="https://esosyete.com/product/Penye-Yarm-Atlet-ip-ask-2aNMs" class="d-block text-reset">Penye Yarım Atlet ip askı</a>
                            </h4>
                            <div class="rating mt-1">
                                <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                            </div>
                            <div class="mt-2">
                                <span class="fs-17 fw-600 text-orange">45.00₺</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-sm-12 col-xs-12">
            <div class="bd-example bd-example-tabs bg-white">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><h3 class="fs-16 fw-600 text-reset">Açıklama</h3></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><h3 class="fs-16 fw-600 text-reset">Yorumlar</h3></a>
                    </li>
                </ul>
                <div class="tab-content p-2" id="myTabContent">
                    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                    </div>
                    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                    </div>
                </div>
            </div>

            <div class="p-4">
                <div class="row shadow-container radius bg-white mt-4 px-2 py-4 px-md-4 py-md-3 mb-5">
                    <h3 class="fw-700 pl-4 title-size"><span class="border-bottom border-orange border-width-2 pb-3 d-inline-block">Öne Çıkan Ürünler</span></h3>
                    <div class="swiper-container similar-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="carousel-box">
                                    <div class="card">
                                        <div class="card-body p-0">
                                            <img class="" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
                                        </div>
                                        <div class="card-footer product pb-3">
                                            <div class="col">
                                                <span class="product-span orange">95.00 </span>
                                            </div>
                                            <div class="col">
                                                <div class="rating">
                                                    <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                                                </div>
                                            </div>
                                            <div class="col product-desc">
                                                <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel-box">
                                    <div class="card">
                                        <div class="card-body p-0">
                                            <img class="" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
                                        </div>
                                        <div class="card-footer product pb-3">
                                            <div class="col">
                                                <span class="product-span orange">95.00 </span>
                                            </div>
                                            <div class="col">
                                                <div class="rating">
                                                    <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                                                </div>
                                            </div>
                                            <div class="col product-desc">
                                                <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel-box">
                                    <div class="card">
                                        <div class="card-body p-0">
                                            <img class="" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
                                        </div>
                                        <div class="card-footer product pb-3">
                                            <div class="col">
                                                <span class="product-span orange">95.00 </span>
                                            </div>
                                            <div class="col">
                                                <div class="rating">
                                                    <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                                                </div>
                                            </div>
                                            <div class="col product-desc">
                                                <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel-box">
                                    <div class="card">
                                        <div class="card-body p-0">
                                            <img class="" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
                                        </div>
                                        <div class="card-footer product pb-3">
                                            <div class="col">
                                                <span class="product-span orange">95.00 </span>
                                            </div>
                                            <div class="col">
                                                <div class="rating">
                                                    <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                                                </div>
                                            </div>
                                            <div class="col product-desc">
                                                <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel-box">
                                    <div class="card">
                                        <div class="card-body p-0">
                                            <img class="" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
                                        </div>
                                        <div class="card-footer product pb-3">
                                            <div class="col">
                                                <span class="product-span orange">95.00 </span>
                                            </div>
                                            <div class="col">
                                                <div class="rating">
                                                    <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                                                </div>
                                            </div>
                                            <div class="col product-desc">
                                                <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel-box">
                                    <div class="card">
                                        <div class="card-body p-0">
                                            <img class="" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
                                        </div>
                                        <div class="card-footer product pb-3">
                                            <div class="col">
                                                <span class="product-span orange">95.00 </span>
                                            </div>
                                            <div class="col">
                                                <div class="rating">
                                                    <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                                                </div>
                                            </div>
                                            <div class="col product-desc">
                                                <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel-box">
                                    <div class="card">
                                        <div class="card-body p-0">
                                            <img class="" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
                                        </div>
                                        <div class="card-footer product pb-3">
                                            <div class="col">
                                                <span class="product-span orange">95.00 </span>
                                            </div>
                                            <div class="col">
                                                <div class="rating">
                                                    <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                                                </div>
                                            </div>
                                            <div class="col product-desc">
                                                <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel-box">
                                    <div class="card">
                                        <div class="card-body p-0">
                                            <img class="" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
                                        </div>
                                        <div class="card-footer product pb-3">
                                            <div class="col">
                                                <span class="product-span orange">95.00 </span>
                                            </div>
                                            <div class="col">
                                                <div class="rating">
                                                    <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                                                </div>
                                            </div>
                                            <div class="col product-desc">
                                                <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel-box">
                                    <div class="card">
                                        <div class="card-body p-0">
                                            <img class="" src="https://www.esosyete.com/public/uploads/products/thumbnail/PfJHw5unIv6kLtZ5EZWZWGMld6zqePF4YIZK81sV.jpeg">
                                        </div>
                                        <div class="card-footer product pb-3">
                                            <div class="col">
                                                <span class="product-span orange">95.00 </span>
                                            </div>
                                            <div class="col">
                                                <div class="rating">
                                                    <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                                                </div>
                                            </div>
                                            <div class="col product-desc">
                                                <a href="https://www.esosyete.com/product/Pijamadunyasi-Angelina-100-pamuk-kadin-pijama-takimi-n6h1k" class="d-block text-reset">Pijamadunyasi Angelina %100 pamuk kadin pijama takimi</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next circle-control"></div>
                        <div class="swiper-button-prev circle-control"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


