@charset "UTF-8";

@font-face {
  font-family: "untitled-font-2";
  src:url("/iconlar/untitled-font-2.eot");
  src:url("/iconlar/untitled-font-2.eot?#iefix") format("embedded-opentype"),
    url("/iconlar/untitled-font-2.ttf") format("truetype"),
    url("/iconlar/untitled-font-2.svg#untitled-font-2") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-try:before {
  content: "\61";
}
.icon-armchair-chair-streamline:before {
  content: "\62";
}
.icon-religious-muslim:before {
  content: "\63";
}
.icon-happy-outline:before {
  content: "\64";
}
.icon-flight:before {
  content: "\65";
}
.icon-user-male:before {
  content: "\66";
}
.icon-toilets:before {
  content: "\67";
}
.icon-radio-tower:before {
  content: "\68";
}
.icon-user-female:before {
  content: "\69";
}