
@{
    ViewBag.Title = "DestekDetay";
    Layout = "~/Areas/Satici/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h4 class="pl-4">Detaylar</h4>
</div>

<div class="row mb-4">
    <div class="col-12">
        <div class="card panel-card p-5">
            <div class="card-title">
                <div class="col-12 p-3">
                    <div class="panel-card-title">
                        <h4><b>Konu #biletID1123456</b></h4>
                        <span>Kullanıcı Adı / 2021-02-16 13:44:26</span> <span class="badge badge-secondary">Bekliyor</span>
                    </div>
                </div>
            </div>
            <div class="card-body p-5">
                <hr>
                <form action="#">
                    <div class="form-group row">
                        <textarea id="summernote" cols="50"></textarea>
                    </div>
                    <div class="form-group row">
                        <div class="input-group mb-3">
                            <button class="btn input-group-button" data-target="1">Fotoğraf</button>
                            <input type="file" class="form-control form-new " data="file1">
                        </div>
                    </div>
                    <div class="form-group-row pr-5">
                        <div class="col-2 float-right text-right">
                            <button class="btn btn-orange">Kaydet</button>
                        </div>
                    </div>
                </form>
                <div class="row mt-5">
                    <ul class="list-group border-0">
                        <li class="list-group-item border-0 mb-5">
                            <div class="avatar d-inline">
                                <img src="https://esosyete.com/public/assets/img/avatar-place.png">
                            </div>
                            <div class="message-header">
                                <span class="d-block  text-bold text-muted">Kullanıcı Adı</span>
                                <span class="d-block text-muted">16.02.2021 14:24:44</span>
                                <span class="d-block mt-2">Test Mesajı</span>
                            </div>
                        </li>
                        <li class="list-group-item border-0 mb-5">
                            <div class="avatar d-inline">
                                <img src="https://esosyete.com/public/assets/img/avatar-place.png">
                            </div>
                            <div class="message-header">
                                <span class="d-block  text-bold text-muted">Kullanıcı Adı</span>
                                <span class="d-block text-muted">16.02.2021 14:24:44</span>
                                <span class="d-block mt-2">Test Mesajı</span>
                            </div>
                        </li>
                        <li class="list-group-item border-0 mb-5">
                            <div class="avatar d-inline">
                                <img src="https://esosyete.com/public/assets/img/avatar-place.png">
                            </div>
                            <div class="message-header">
                                <span class="d-block  text-bold text-muted">Kullanıcı Adı</span>
                                <span class="d-block text-muted">16.02.2021 14:24:44</span>
                                <span class="d-block mt-2">Test Mesajı</span>
                            </div>
                        </li>
                        <li class="list-group-item border-0 mb-5">
                            <div class="avatar d-inline">
                                <img src="https://esosyete.com/public/assets/img/avatar-place.png">
                            </div>
                            <div class="message-header">
                                <span class="d-block  text-bold text-muted">Kullanıcı Adı</span>
                                <span class="d-block text-muted">16.02.2021 14:24:44</span>
                                <span class="d-block mt-2">Test Mesajı</span>
                            </div>
                        </li>
                        <li class="list-group-item border-0 mb-5">
                            <div class="avatar d-inline">
                                <img src="https://esosyete.com/public/assets/img/avatar-place.png">
                            </div>
                            <div class="message-header">
                                <span class="d-block  text-bold text-muted">Kullanıcı Adı</span>
                                <span class="d-block text-muted">16.02.2021 14:24:44</span>
                                <span class="d-block mt-2">Test Mesajı</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
