
@{
    ViewBag.Title = "Favorilerim";
    Layout = "~/Areas/Satici/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h4 class="pl-4">Favoriler</h4>
</div>


<div class="row">
    <div class="col-lg-3">
        <div class="card mb-2 shadow-sm">
            <div class="card-header bg-white border-0">
                <img src="https://esosyete.com/public/uploads/products/thumbnail/tLGkJwcOKt7RCLBT2GEhal4jauQ0FNhs255JFeRH.jpeg" alt="" width="100%">
            </div>
            <div class="card-body">
                <h5 class="fs-14 mb-0 lh-1-5 fw-600 text-truncate-2">
                    <a href="#" class="text-reset">Tony Montana Polo Yaka T-shirt</a>
                </h5>
                <div class="rating rating-sm mb-1">
                    <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                </div>
                <div class=" fs-14">
                    <del class="opacity-60 mr-1">110.00₺</del>
                    <span class="fw-600 text-primary">70.00₺</span>
                </div>
            </div>
            <div class="card-footer bg-white">
                <span><button class="btn orange"><i class="la la-trash la-2x"></i></span> <span><button class="btn btn-orange w-75">Sepete Ekle</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card mb-2 shadow-sm">
            <div class="card-header bg-white border-0">
                <img src="https://esosyete.com/public/uploads/products/thumbnail/tLGkJwcOKt7RCLBT2GEhal4jauQ0FNhs255JFeRH.jpeg" alt="" width="100%">
            </div>
            <div class="card-body">
                <h5 class="fs-14 mb-0 lh-1-5 fw-600 text-truncate-2">
                    <a href="#" class="text-reset">Tony Montana Polo Yaka T-shirt</a>
                </h5>
                <div class="rating rating-sm mb-1">
                    <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                </div>
                <div class=" fs-14">
                    <del class="opacity-60 mr-1">110.00₺</del>
                    <span class="fw-600 text-primary">70.00₺</span>
                </div>
            </div>
            <div class="card-footer bg-white">
                <span><button class="btn orange"><i class="la la-trash la-2x"></i></span> <span><button class="btn btn-orange w-75">Sepete Ekle</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card mb-2 shadow-sm">
            <div class="card-header bg-white border-0">
                <img src="https://esosyete.com/public/uploads/products/thumbnail/tLGkJwcOKt7RCLBT2GEhal4jauQ0FNhs255JFeRH.jpeg" alt="" width="100%">
            </div>
            <div class="card-body">
                <h5 class="fs-14 mb-0 lh-1-5 fw-600 text-truncate-2">
                    <a href="#" class="text-reset">Tony Montana Polo Yaka T-shirt</a>
                </h5>
                <div class="rating rating-sm mb-1">
                    <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                </div>
                <div class=" fs-14">
                    <del class="opacity-60 mr-1">110.00₺</del>
                    <span class="fw-600 text-primary">70.00₺</span>
                </div>
            </div>
            <div class="card-footer bg-white">
                <span><button class="btn orange"><i class="la la-trash la-2x"></i></span> <span><button class="btn btn-orange w-75">Sepete Ekle</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card mb-2 shadow-sm">
            <div class="card-header bg-white border-0">
                <img src="https://esosyete.com/public/uploads/products/thumbnail/tLGkJwcOKt7RCLBT2GEhal4jauQ0FNhs255JFeRH.jpeg" alt="" width="100%">
            </div>
            <div class="card-body">
                <h5 class="fs-14 mb-0 lh-1-5 fw-600 text-truncate-2">
                    <a href="#" class="text-reset">Tony Montana Polo Yaka T-shirt</a>
                </h5>
                <div class="rating rating-sm mb-1">
                    <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                </div>
                <div class=" fs-14">
                    <del class="opacity-60 mr-1">110.00₺</del>
                    <span class="fw-600 text-primary">70.00₺</span>
                </div>
            </div>
            <div class="card-footer bg-white">
                <span><button class="btn orange"><i class="la la-trash la-2x"></i></span> <span><button class="btn btn-orange w-75">Sepete Ekle</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card mb-2 shadow-sm">
            <div class="card-header bg-white border-0">
                <img src="https://esosyete.com/public/uploads/products/thumbnail/tLGkJwcOKt7RCLBT2GEhal4jauQ0FNhs255JFeRH.jpeg" alt="" width="100%">
            </div>
            <div class="card-body">
                <h5 class="fs-14 mb-0 lh-1-5 fw-600 text-truncate-2">
                    <a href="#" class="text-reset">Tony Montana Polo Yaka T-shirt</a>
                </h5>
                <div class="rating rating-sm mb-1">
                    <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                </div>
                <div class=" fs-14">
                    <del class="opacity-60 mr-1">110.00₺</del>
                    <span class="fw-600 text-primary">70.00₺</span>
                </div>
            </div>
            <div class="card-footer bg-white">
                <span><button class="btn orange"><i class="la la-trash la-2x"></i></span> <span><button class="btn btn-orange w-75">Sepete Ekle</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card mb-2 shadow-sm">
            <div class="card-header bg-white border-0">
                <img src="https://esosyete.com/public/uploads/products/thumbnail/tLGkJwcOKt7RCLBT2GEhal4jauQ0FNhs255JFeRH.jpeg" alt="" width="100%">
            </div>
            <div class="card-body">
                <h5 class="fs-14 mb-0 lh-1-5 fw-600 text-truncate-2">
                    <a href="#" class="text-reset">Tony Montana Polo Yaka T-shirt</a>
                </h5>
                <div class="rating rating-sm mb-1">
                    <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                </div>
                <div class=" fs-14">
                    <del class="opacity-60 mr-1">110.00₺</del>
                    <span class="fw-600 text-primary">70.00₺</span>
                </div>
            </div>
            <div class="card-footer bg-white">
                <span><button class="btn orange"><i class="la la-trash la-2x"></i></span> <span><button class="btn btn-orange w-75">Sepete Ekle</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card mb-2 shadow-sm">
            <div class="card-header bg-white border-0">
                <img src="https://esosyete.com/public/uploads/products/thumbnail/tLGkJwcOKt7RCLBT2GEhal4jauQ0FNhs255JFeRH.jpeg" alt="" width="100%">
            </div>
            <div class="card-body">
                <h5 class="fs-14 mb-0 lh-1-5 fw-600 text-truncate-2">
                    <a href="#" class="text-reset">Tony Montana Polo Yaka T-shirt</a>
                </h5>
                <div class="rating rating-sm mb-1">
                    <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                </div>
                <div class=" fs-14">
                    <del class="opacity-60 mr-1">110.00₺</del>
                    <span class="fw-600 text-primary">70.00₺</span>
                </div>
            </div>
            <div class="card-footer bg-white">
                <span><button class="btn orange"><i class="la la-trash la-2x"></i></span> <span><button class="btn btn-orange w-75">Sepete Ekle</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card mb-2 shadow-sm">
            <div class="card-header bg-white border-0">
                <img src="https://esosyete.com/public/uploads/products/thumbnail/tLGkJwcOKt7RCLBT2GEhal4jauQ0FNhs255JFeRH.jpeg" alt="" width="100%">
            </div>
            <div class="card-body">
                <h5 class="fs-14 mb-0 lh-1-5 fw-600 text-truncate-2">
                    <a href="#" class="text-reset">Tony Montana Polo Yaka T-shirt</a>
                </h5>
                <div class="rating rating-sm mb-1">
                    <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                </div>
                <div class=" fs-14">
                    <del class="opacity-60 mr-1">110.00₺</del>
                    <span class="fw-600 text-primary">70.00₺</span>
                </div>
            </div>
            <div class="card-footer bg-white">
                <span><button class="btn orange"><i class="la la-trash la-2x"></i></span> <span><button class="btn btn-orange w-75">Sepete Ekle</span>
            </div>
        </div>
    </div>
</div>




