
@{
    ViewBag.Title = "OdemeGecmisi";
    Layout = "~/Areas/Satici/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h4 class="pl-4">Ödeme Geçmişi</h4>
</div>

<div class="row mb-4">
    <div class="col-12">
        <div class="card panel-card">
            <div class="card-title">
                <div class="col-12 p-3">
                    <div class="panel-card-title">
                        <h5>Ödemeler</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <th>#</th>
                    <th>Tarih</th>
                    <th>Miktar</th>
                    <th>Ödeme Şekli</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>16.02.2020</td>
                            <td>110.00</td>
                            <td>EFT</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

