
@{
    ViewBag.Title = "Urunler";
    Layout = "~/Areas/Satici/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h4 class="pl-4">Ürünler</h4>
</div>

<div class="row mb-4">
    <div class="col-lg-4 mx-auto">
        <a href="#" style="text-decoration:none">
            <div class="card panel-card p-5">
                <span class="d-block circle-60 d-flex align-items-center justify-content-center mx-auto">
                    <i class="las la-plus la-3x text-white"></i>
                </span>
                <span class="d-block text-center orange"><h4>Yeni Urun Ekle</h4></span>
            </div>
        </a>
    </div>
</div>

<div class="row mb-4">
    <div class="col-12">
        <div class="card panel-card">
            <div class="card-title">
                <div class="col-12 p-3">
                    <div class="col-lg-4 col-md-12 panel-card-title float-left">
                        <h5>Tum Urunler</h5>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 float-right">
                        <input type="text" value="" placeholder="Urun Ara" class="form-control new-input" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <th>#</th>
                    <th>Ürün Adı</th>
                    <th>Kategori</th>
                    <th>Mevcut Adet</th>
                    <th>Taban fiyat</th>
                    <th>Yayında Olanlar</th>
                    <th>Öne çıkarılanlar</th>
                    <th>Seçenekler</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>
                                <div class="custom-control custom-switch custom-switch-md">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                    <label class="custom-control-label" for="customSwitch1"></label>
                                </div>
                            </td>
                            <td>
                                <div class="custom-control custom-switch custom-switch-md">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                    <label class="custom-control-label" for="customSwitch2"></label>
                                </div>
                            </td>
                            <td>
                                <a class="btn btn-circle-icon bg-soft-blue" href="#" title="Düzenle">
                                    <i class="las la-edit"></i>
                                </a>
                                <a href="#" class="btn btn-circle-icon bg-sof-green" title="Ürünü Kopyala">
                                    <i class="las la-copy"></i>
                                </a>
                                <a href="#" class="btn btn-circle-icon bg-soft-red" title="Sil">
                                    <i class="las la-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>
                                <div class="custom-control custom-switch custom-switch-md">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                    <label class="custom-control-label" for="customSwitch1"></label>
                                </div>
                            </td>
                            <td>
                                <div class="custom-control custom-switch custom-switch-md">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                    <label class="custom-control-label" for="customSwitch2"></label>
                                </div>
                            </td>
                            <td>
                                <a class="btn btn-circle-icon bg-soft-blue" href="#" title="Düzenle">
                                    <i class="las la-edit"></i>
                                </a>
                                <a href="#" class="btn btn-circle-icon bg-sof-green" title="Ürünü Kopyala">
                                    <i class="las la-copy"></i>
                                </a>
                                <a href="#" class="btn btn-circle-icon bg-soft-red" title="Sil">
                                    <i class="las la-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>
                                <div class="custom-control custom-switch custom-switch-md">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                    <label class="custom-control-label" for="customSwitch1"></label>
                                </div>
                            </td>
                            <td>
                                <div class="custom-control custom-switch custom-switch-md">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                    <label class="custom-control-label" for="customSwitch2"></label>
                                </div>
                            </td>
                            <td>
                                <a class="btn btn-circle-icon bg-soft-blue" href="#" title="Düzenle">
                                    <i class="las la-edit"></i>
                                </a>
                                <a href="#" class="btn btn-circle-icon bg-sof-green" title="Ürünü Kopyala">
                                    <i class="las la-copy"></i>
                                </a>
                                <a href="#" class="btn btn-circle-icon bg-soft-red" title="Sil">
                                    <i class="las la-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>
                                <div class="custom-control custom-switch custom-switch-md">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                    <label class="custom-control-label" for="customSwitch1"></label>
                                </div>
                            </td>
                            <td>
                                <div class="custom-control custom-switch custom-switch-md">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                    <label class="custom-control-label" for="customSwitch2"></label>
                                </div>
                            </td>
                            <td>
                                <a class="btn btn-circle-icon bg-soft-blue" href="#" title="Düzenle">
                                    <i class="las la-edit"></i>
                                </a>
                                <a href="#" class="btn btn-circle-icon bg-sof-green" title="Ürünü Kopyala">
                                    <i class="las la-copy"></i>
                                </a>
                                <a href="#" class="btn btn-circle-icon bg-soft-red" title="Sil">
                                    <i class="las la-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>
                                <div class="custom-control custom-switch custom-switch-md">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                    <label class="custom-control-label" for="customSwitch1"></label>
                                </div>
                            </td>
                            <td>
                                <div class="custom-control custom-switch custom-switch-md">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                    <label class="custom-control-label" for="customSwitch2"></label>
                                </div>
                            </td>
                            <td>
                                <a class="btn btn-circle-icon bg-soft-blue" href="#" title="Düzenle">
                                    <i class="las la-edit"></i>
                                </a>
                                <a href="#" class="btn btn-circle-icon bg-sof-green" title="Ürünü Kopyala">
                                    <i class="las la-copy"></i>
                                </a>
                                <a href="#" class="btn btn-circle-icon bg-soft-red" title="Sil">
                                    <i class="las la-trash"></i>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div class="col-12">
                    <button class="btn btn-circle-soft-primary"><strong><</strong></button>
                    <button class="btn btn-circle-primary">1</button>
                    <button class="btn btn-circle-primary">2</button>
                    <button class="btn btn-circle-primary">3</button>
                    <button class="btn btn-circle-soft-primary"><strong>></strong></button>
                </div>
            </div>
        </div>
    </div>
</div>

